<!DOCTYPE html>
<html lang="en">

<body>

  <main id="main" class="main " >
    
      <div class="pagetitle ">
        <h1>Profile</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
      
    <section class="section profile ">


        <div class="col-xl ">

          <div class="card  " >
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar Perfil</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar Contraseña</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form [formGroup]="perfilForm" (ngSubmit)="onSubmitProfile()">
                    
                    <div class="row mb-3">
                      <label for="name" class="col-md-4 col-lg-3 col-form-label">Nombre</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="name" type="text" formControlName="name" class="form-control" id="name" value="{{usuario.name}}">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="surname" class="col-md-4 col-lg-3 col-form-label">Apellido</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="surname" type="text" formControlName="surname" class="form-control" id="surname" value="{{usuario.surname}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="LU" class="col-md-4 col-lg-3 col-form-label">LU</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="LU" type="number" disabled class="form-control " id="LU" value="{{usuario.LU}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="email" class="col-md-4 col-lg-3 col-form-label">email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="text" formControlName="email" id="email" value="{{usuario.email}}">
                      </div>
                    </div>

                   
                    <div class="text-center">
                      <button type="submit" [disabled]="!perfilForm.valid" class="btn btn-primary">Cambiar Datos</button>
                    </div>
                  </form><!-- End Profile Edit Form -->


                  
                
                </div>
                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Contraseña actual:</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Contraseña nueva:</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-ingresa nueva contaseña:</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>
              </div><!-- End Bordered Tabs -->
            </div>
          </div>
        </div>
    </section>

  </main><!-- End #main -->


  

  <!-- Template Main JS File
  <script src="assets/js/main.js"></script> -->

</body>

</html>