<!DOCTYPE html>
<html lang="en">

<body>

  <main id="main" class="main">

    <section class="section profile ">

      <div class="col-xl ">

        <div class="card  ">
          <div class="card-header">
            <h1>Mis datos</h1>
          </div>
          <div class="card-body pt-3">
            
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar
                  Perfil</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar
                  Contraseña</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                <form [formGroup]="perfilForm" (ngSubmit)="onSubmitProfile()">

                  <div class="row mb-3">
                    <label for="name" class="col-md-4 col-lg-3 col-form-label">Nombre</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="name" type="text" formControlName="name" class="form-control" id="name"
                        value="{{usuario.name}}">
                      <span class="form-text text-danger" *ngIf="campoNoValidoPerfilForm('name')">
                        Este campo es requerido.
                      </span>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="surname" class="col-md-4 col-lg-3 col-form-label">Apellido</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="surname" type="text" formControlName="surname" class="form-control" id="surname"
                        value="{{usuario.surname}}">
                      <span class="form-text text-danger" *ngIf="campoNoValidoPerfilForm('surname')">
                        Este campo es requerido.
                      </span>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="DNI" class="col-md-4 col-lg-3 col-form-label">DNI</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="DNI" type="number" disabled class="form-control" id="DNI" value="{{usuario.DNI}}">
                      <span class="form-text text-danger" *ngIf="campoNoValidoPerfilForm('DNI')">
                        Este campo es requerido.
                      </span>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="email" class="form-control" type="text" formControlName="email" id="email"
                        value="{{usuario.email}}">
                      <span class="form-text text-danger" *ngIf="campoNoValidoPerfilForm('email')">
                        Ingrese un email válido.
                      </span>
                    </div>
                  </div>


                  <div class="text-center">
                    <button type="submit" [disabled]="!perfilForm.valid" class="btn btn-primary">Cambiar Datos</button>
                  </div>
                </form><!-- End Profile Edit Form -->




              </div>
              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">

                  <div class="row mb-3">
                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Contraseña actual:</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="password" [type]="mostrarOcultarPassword ? 'text' : 'password'"
                        formControlName="passwordActual" class="form-control" id="currentPassword">
                      <div class="small mb-0" (click)="mostrarOcultarPasswordFunction()" style="cursor: pointer;">
                        <i class="bi bi-eye-fill small mb-0 text-center"> Mostrar/ocultar contraseña </i>
                      </div>
                      <div class="form-text text-danger" *ngIf="campoNoValidoPasswordForm('passwordActual')">
                        Ingrese una contraseña válida (mínimo 6 caracteres).
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Contraseña nueva:</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="newpassword" [type]="mostrarOcultarPassword ? 'text' : 'password'"
                        formControlName="passwordNueva" class="form-control" id="passwordNueva">
                      <div class="small mb-0" (click)="mostrarOcultarPasswordFunction()" style="cursor: pointer;">
                        <i class="bi bi-eye-fill small mb-0 text-center"> Mostrar/ocultar contraseña </i>
                      </div>
                      <div class="form-text text-danger" *ngIf="campoNoValidoPasswordForm('passwordNueva')">
                        Ingrese una contraseña válida (mínimo 6 caracteres).
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-ingresa nueva
                      contaseña:</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="renewpassword" [type]="mostrarOcultarPassword ? 'text' : 'password'"
                        formControlName="repeticionPassword" class="form-control" id="repeticionPassword">
                      <div class="small mb-0" (click)="mostrarOcultarPasswordFunction()" style="cursor: pointer;">
                        <i class="bi bi-eye-fill small mb-0 text-center"> Mostrar/ocultar contraseña </i>
                      </div>
                      <div class="form-text text-danger" *ngIf="campoNoValidoPasswordForm('repeticionPassword')">
                        Ingrese una contraseña válida (mínimo 6 caracteres).
                      </div>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" [disabled]="!passwordForm.valid" class="btn btn-primary">Cambiar
                      contraseña</button>
                  </div>
                </form><!-- End Change Password Form -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <style>
    .btn-primary {
      color: white;
      background: #7b1fa2;
      border-color: #7b1fa2;
    }

    .btn-primary:hover {
      color: white;
      background: #012970;
      border-color: #012970;
    }
  </style>

</body>

</html>