<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>OcularVet - Inicio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../../assets/img/favicon.png" rel="icon">
  <link href="../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>


<body class="limiter">
    <div >
        <header id="header" class="header fixed-top d-flex align-items-center">

            <div class="d-flex align-items-center justify-content-between">
              <div routerLink="inicio" class="logo d-flex align-items-center">
                <img src="../../../assets/vet_unicen.png" alt="" style="max-height: 60px;" >
                <span class="">OcularVet</span>
              </div>
            </div><!-- End Logo -->
        
        
        
            <nav class="header-nav ms-auto">
              <ul class="d-flex align-items-center">
        
                <a class="nav-link nav-options d-flex align-items-center " 
                   routerLink="ejercicio" >
                  <i class="nav-icon bx bxl-baidu"></i>
                  <span> Diagnosticar </span>
                </a><!-- End Ejercicio Iamge Icon -->
                <div *ngIf="usuario.isAdmin === true">
                  <a class="nav-link nav-options d-flex align-items-center" routerLink="admin/notasAdmin">
                    <i class="nav-icon bi-list-check"></i>
                    <span> Notas </span>
                  </a>
                </div>
        
                <div *ngIf="usuario.isAdmin === false">
                  <a class="nav-link nav-options d-flex align-items-center" routerLink="alumno/notas">
                    <i class="nav-icon bi-list-check"></i>
                    <span> Notas </span>
                  </a>
                </div>
        
        
                <li class="nav-item dropdown pe-3">
        
                  <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <i class="nav-icon bi-gear-fill"></i>
                    <span class="d-none d-md-block dropdown-toggle ps-2">Configuracion</span>
                  </a><!-- End Profile Iamge Icon -->
        
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header" style="margin: 0px;">
                      <h6>{{usuario.name}} {{usuario.surname}}</h6>
                      <span>{{isAdmin}}</span>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
        
                    <li style="margin: 4px;">
                      <a class="dropdown-item d-flex align-items-center" routerLink="perfil" style="margin: 5px;">
                        <i class="bi bi-person"></i>
                        <span>Mis datos</span>
                      </a>
                    </li>
                    
                    <div *ngIf="usuario.isAdmin === true">
                      <li style="margin: 4px;">
                        <a class="dropdown-item d-flex align-items-center" routerLink="admin/administracionUsuarios" style="margin: 5px;">
                          <i class="bi bi-person"></i>
                          <span>Administrar Usuarios</span>
                        </a>
                      </li>
                    </div>

                    <li style="margin: 4px;">
                      <a class="dropdown-item d-flex align-items-center" href="#" style="margin: 5px;" (click)="logOut()">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Cerrar Sesión</span>
                      </a>
                    </li>
        
                  </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
        
              </ul>
            </nav><!-- End Icons Navigation -->
        
          </header>

        <div>
            <router-outlet></router-outlet>
        </div>

        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            <div class="copyright">
            &copy; Copyright <strong><span> OcularVet </span></strong> All Rights Reserved
            </div>
        </footer><!-- End Footer -->
    </div>
</body>





