<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>OcularVet - Inicio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

</head>


<body class="background">
    
        <!--NavBar  -->
        <header id="header" class="header fixed-top d-flex align-items-center">
          
            <!--Logo -->
            <div class="d-flex align-items-center justify-content-between">
              <div routerLink="inicio" class="logo d-flex align-items-center">
                <img src="../../../assets/images/logo.webp" style="max-height: 8.5vh;" >
                <span class="">OcularVet</span>
              </div>
            </div><!-- End Logo -->
        
        
        
            <nav class="header-nav ms-auto">
              <ul class="d-flex align-items-center">
        
                <a class="nav-link nav-options d-flex align-items-center " 
                   routerLink="ejercicio" >
                  <img src="../../../assets/images/favicon.webp">
                  <span> Diagnosticar </span>
                </a>
                <div *ngIf="usuario.isAdmin === true">
                  <a class="nav-link nav-options d-flex align-items-center" routerLink="admin/notasAdmin">
                    <i class="nav-icon bi-list-check"></i>
                    <span class="p-1"> Notas </span>
                  </a>
                </div>
        
                <div *ngIf="usuario.isAdmin === false">
                  <a class="nav-link nav-options d-flex align-items-center" routerLink="alumno/notas">
                    <i class="nav-icon bi-list-check"></i>
                    <span class="p-1"> Notas </span>
                  </a>
                </div>
        
                <!-- Dropdown Configuracion -->
                <li class="nav-item dropdown pe-3">
        
                  <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <i class="nav-icon bi-gear-fill"></i>
                    <span class="d-none d-md-block dropdown-toggle ps-2">Configuración</span>
                  </a>
        
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header" style="margin: 0px;">
                      <h6>{{usuario.name}} {{usuario.surname}}</h6>
                      <span>{{isAdmin}}</span>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
        
                    <li style="margin: 4px;">
                      <a class="dropdown-item d-flex align-items-center" routerLink="perfil" style="margin: 5px;">
                        <i class="bi bi-person"></i>
                        <span class="p-1">Mis datos</span>
                      </a>
                    </li>
                    
                    <div *ngIf="usuario.isAdmin === true">
                      <li style="margin: 4px;">
                        <a class="dropdown-item d-flex align-items-center" routerLink="admin/administracionUsuarios" style="margin: 5px;">
                          <i class="bi bi-people"></i>
                          <span class="p-1">Administrar usuarios</span>
                        </a>
                      </li>
                    </div>

                    <div *ngIf="usuario.isAdmin === true">
                      <li style="margin: 4px;">
                        <a class="dropdown-item d-flex align-items-center" routerLink="admin/configAdmin" style="margin: 5px;">
                          <i class="bi bi-wrench"></i>
                          <span class="p-1">Configuración administrador </span>
                        </a>
                      </li>
                    </div>

                    <li style="margin: 4px;">
                      <a class="dropdown-item d-flex align-items-center" href="#" style="margin: 5px;" (click)="logOut()">
                        <i class="bi bi-box-arrow-right"></i>
                        <span class="p-1">Cerrar Sesión</span>
                      </a>
                    </li>
        
                  </ul>
                </li><!--End Dropdown Configuracion -->
        
              </ul>
            </nav>
        
          </header>
          <!--End NavBar -->
        <div>
            <router-outlet></router-outlet>
        </div>

        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            <div class="copyright">
            &copy; <strong><span> OcularVet </span></strong>
            </div>
        </footer><!-- End Footer -->
    
</body>





