<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>OcularVet - Acceso denegado administrador</title>
    <meta content="" name="description">
    <meta content="" name="keywords">



</head>

<main id="main" class="main">
    <div class="card">
        <div class="card-header">
            <h1>Acceso denegado</h1>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4>Usted no posee los permisos necesarios para poder 
                        acceder a la pagina deseada.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</main><!-- End #main -->
</html>