<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>OcularVet - Acceso denegado administrador</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../../../assets/img/favicon.png" rel="icon">
    <link href="../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

</head>

<main id="main" class="main">
    <div class="card">
        <div class="card-header">
            <h1>Acceso denegado</h1>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4>Usted no posee los permisos necesarios para poder 
                        acceder a la pagina deseada.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</main><!-- End #main -->
</html>