<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<main id="main" class="main">
  <div class="card">
    <div class="card-header">
      <h1>Notas </h1>


    </div>

    <div class="col">
      <div class="card  overflow-auto">
        <div class="card-body">
          <!--Filtros y Botones -->
          <div id="contenedorBotones" style="margin-bottom: 10px;">
            <form (ngSubmit)="filtrar()">
              <input type="number" id="anioInput" placeholder="Buscar por año..." title="Type in a name" >
              <input type="text" id="apellidoInput" placeholder="Buscar por apellido..." title="apellido" class="m-1">
              <button type="submit" name="searchButton" class="btn btn-primary" (click)="filtrar()">
                  <i class="bi-search "></i>  
              </button>
              
            </form>
            <button class="btn btn-danger item" [swal]="deleteFilteredNotas"> Eliminar notas filtradas
              <i class="bi-trash-fill"></i>
              <swal #deleteFilteredNotas title="Esta seguro que desea eliminar todos las notas filtradas?"
                  text="Esta acción no se puede deshacer." icon="warning"
                  [swalOptions]="{ confirmButtonText: 'Confirmar' }" [showCancelButton]="true"
                  [focusCancel]="true" (confirm)="borrarNotasFiltradas()">
              </swal>
            </button>
          </div> <!--END - Filtros y botones -->
          <div> <!--TABLA DE NOTAS -->
            <table style="width: 100%;" mat-table [dataSource]="dataSource" matSort
              (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
              <ng-container matColumnDef="DNI">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">DNI</th>
                <td mat-cell *matCellDef="let row">{{ row.DNI }}</td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Nombre</th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
              </ng-container>
              <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by surname">Apellido
                </th>
                <td mat-cell *matCellDef="let row">{{ row.surname }}</td>
              </ng-container>
              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fecha">Fecha</th>
                <td mat-cell *matCellDef="let row">{{ row.fecha | date:"dd-MM-YYYY" }}</td>
              </ng-container>
              <ng-container matColumnDef="rtasCorrectas">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rtasCorrectas">
                  Aciertos </th>
                <td mat-cell *matCellDef="let row">{{ row.rtasCorrectas }}</td>
              </ng-container>
              <ng-container matColumnDef="cantidadPreguntas">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cantidadPreguntas">
                  Cantidad de<br> preguntas</th>
                <td mat-cell *matCellDef="let row">{{ row.cantidadPreguntas }}</td>
              </ng-container>
              <ng-container matColumnDef="calificacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by calificacion">Nota
                </th>
                <td mat-cell *matCellDef="let row">{{ row.calificacion }}</td>
              </ng-container>
              <ng-container matColumnDef="borrar">
                <th mat-header-cell *matHeaderCellDef>Borrar</th>
                <td mat-cell *matCellDef="let row">
                  <button class="btn btn-danger" [swal]="deleteSwal">
                    <i class="bi-trash-fill"></i>

                    <swal #deleteSwal title="Eliminar nota de {{ row.name}} {{ row.surname }}?"
                      text="Esta acción no se puede deshacer." icon="warning"
                      [swalOptions]="{ confirmButtonText: 'Confirmar' , cancelButtonText:'Cancelar' }"
                      [showCancelButton]="true" [focusCancel]="true" (confirm)="eliminarNota(row._id!)">
                    </swal>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columns"></tr>
              <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
            <mat-paginator [length]="notasFiltradas.length" [pageSize]="20" [pageSizeOptions]="[5,10, 20, 50, 100]"
              aria-label="Select page">
            </mat-paginator>
          </div>
          <!--End TABLA NOTAS -->

          <hr>
          

          <!--GRAFICOS -->
          <div id="contenedorDatos" >
            <div id="divChartPie">
              <canvas id="canvasChartPie">{{chartPie}}</canvas>
            </div>
            <div id="divChartBar" class="item">
              <canvas class="item" id="canvasChartBar">{{chartBar}}</canvas>
            </div>
          </div>
          <!--End GRAFICOS -->


        </div>

      </div>

    </div>

  </div>

  

</main><!-- End #main -->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>




</html>