<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<main id="main" class="main">
  <div class="card">
    <div class="card-header">
      <h1>Notas alumnos: </h1>


    </div>

    <div class="col">
      <div class="card recent-sales overflow-auto">
        <div class="card-body">
          <input type="number" id="myInput" oninput="buscaPorAnio()" placeholder="Buscar por Año.." title="Type in a name" >
          <button type="button" name="searchButton" class="btn btn-primary" (click)="buscaPorAnio()">
              <i class="bi-search "></i>  
          </button>
          <!-- <table id="myTable2" style="display: none;">
            <thead align="center">
              <th role="button" scope="col" (click)='sortTabla("LUAsc")'> LU </th>
              <th role="button" scope="col" (click)="sortTabla('nameAsc')"> Nombre </th>
              <th role="button" scope="col" (click)="sortTabla('surnameAsc')"> Apellido </th>
              <th role="button" scope="col" (click)='sortTabla("fechaAsc")'> Fecha </th>
              <th role="button" scope="col" (click)="sortTabla('rtasCorrectasAsc')"> Respuestas <br> Correctas </th>
              <th role="button" scope="col" (click)="sortTabla('cantidadPreguntasAsc')"> Cantidad <br> Preguntas </th>
              <th role="button" scope="col" (click)="sortTabla('calificacionAsc')"> Nota </th>
            </thead>
            <tbody align="center">
              <tr *ngFor="let nota of notasFiltradas">
                <th scope="row"> {{nota.LU}} </th>
                <td>{{ nota.name }}</td>
                <td>{{ nota.surname }}</td>
                <td>{{ nota.fecha | date:"dd-MM-YYYY" }}</td>
                <td>{{ nota.rtasCorrectas }}</td>
                <td>{{ nota.cantidadPreguntas }}</td>
                <td>{{ nota.calificacion }}</td>

                <td>
                  <button type="button" name="button" class="btn btn-danger" [swal]="deleteSwal">
                    <i class="bi-trash-fill"></i>

                    <swal #deleteSwal title="Eliminar nota de {{ nota.name}} {{ nota.surname }}?"
                      text="Esta acción no se puede deshacer." icon="warning"
                      [swalOptions]="{ confirmButtonText: 'Confirmar' , cancelButtonText:'Cancelar' }" [showCancelButton]="true" [focusCancel]="true"
                      (confirm)="eliminarNota(nota._id!)">
                    </swal>
                  </button>
                </td>
              </tr>
            </tbody>
          </table> -->
          <div>
            <table style="width: 100%;" mat-table [dataSource]="dataSource" 
            matSort (matSortChange)="announceSortChange($event)"  class="mat-elevation-z8">
              <ng-container matColumnDef="LU" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">LU</th>
                <td mat-cell *matCellDef="let row">{{ row.LU }}</td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Nombre</th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
              </ng-container>
              <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by surname">Apellido</th>
                <td mat-cell *matCellDef="let row">{{ row.surname }}</td>
              </ng-container>
              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fecha">Fecha</th>
                <td mat-cell *matCellDef="let row">{{ row.fecha | date:"dd-MM-YYYY" }}</td>
              </ng-container>
              <ng-container matColumnDef="rtasCorrectas">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rtasCorrectas">Aciertos </th>
                <td mat-cell *matCellDef="let row">{{ row.rtasCorrectas }}</td>
              </ng-container>
              <ng-container matColumnDef="cantidadPreguntas">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cantidadPreguntas">
                  Cantidad de<br> preguntas</th>
                <td mat-cell *matCellDef="let row">{{ row.cantidadPreguntas }}</td>
              </ng-container>
              <ng-container matColumnDef="calificacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by calificacion">Nota</th>
                <td mat-cell *matCellDef="let row">{{ row.calificacion }}</td>
              </ng-container>
              <ng-container matColumnDef="borrar">
                <th mat-header-cell *matHeaderCellDef >Borrar</th>
                <td mat-cell *matCellDef="let row">
                  <button  class="btn btn-danger" [swal]="deleteSwal">
                    <i class="bi-trash-fill"></i>

                    <swal #deleteSwal  title="Eliminar nota de {{ row.name}} {{ row.surname }}?"
                      text="Esta acción no se puede deshacer." icon="warning"
                      [swalOptions]="{ confirmButtonText: 'Confirmar' , cancelButtonText:'Cancelar' }" [showCancelButton]="true" [focusCancel]="true"
                      (confirm)="eliminarNota(row._id!)">
                    </swal>
                  </button>
                </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="columns"></tr>
              <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
            <mat-paginator [length]="notasFiltradas.length"
              [pageSize]="20"
              [pageSizeOptions]="[5,10, 20, 50, 100]"
              aria-label="Select page">
            </mat-paginator>  
        </div>  

          <!-- <canvas baseChart
            [type]="'pie'"
            [datasets]="pieChartDatasets"
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            
            [legend]=true>
          </canvas> -->

          <div id="contenedorDatos">
            <div id="divChartPie">
              <canvas id="canvasChartPie">{{chartPie}}</canvas>
            </div>
            <div id="divChartBar">
              <canvas id="canvasChartBar">{{chartBar}}</canvas>
            </div>
          </div>
          
        

        </div>

      </div>

    </div>

  </div>

  <section class="section dashboard">
    <div class="row">


    </div>
  </section>

</main><!-- End #main -->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->


<!-- Template Main JS File -->



</html>