.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: row dense;
    grid-auto-rows: minmax(170px, auto);
    gap: 20px;
    justify-items: center;
}

.gridConsigna {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row dense;
    grid-auto-rows: minmax(170px, auto);
    gap: 20px;
    justify-items: center;
}

@media (max-width: 750px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row dense;
        grid-auto-rows: minmax(170px, auto);
        gap: var(--gap);
    }
}

@media (max-width: 1100px) {
    .gridConsigna {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row dense;
        grid-auto-rows: minmax(170px, auto);
        gap: var(--gap);
    }

    hr {
        display: block;
        height: 8px;
        background-color: #7b1fa2;
        border-radius: 2px;

    }

    #perroConsigna {
        position: relative;
        min-height: 200px;
        max-height: 450px;
        margin-top: 15px;
    }
}

@media(min-width: 1100px) {
    hr {
        display: none;
    }
}

.parrafo {
    text-align: justify;
}

.contenedorConsigna {
    align-items: center;
    justify-content: start;
}

#BtnComenzarEjercicio {
    margin-left: 50%;
    transform: translateX(-50%);
}

#contenedorBotonesOjos {
    display: flex;
    margin-bottom: 10px;
}

figure {
    position: relative;

}

#contenedorPrincipal .grid .columna {
    padding-left: 30px;
}

#perro {
    position: relative;
    width: 100%;
    height: 60%;
}

#perroConsigna {
    position: relative;
    width: 100%;
    min-height: 200px;
}

#pupilaDerecha {
    position: absolute;
    left: calc(35%);
    top: calc(27.5%);
    width: 6%;
}

#pupilaIzquierda {
    position: absolute;
    left: calc(62.8%);
    top: calc(28.8%);
    width: 6%;
}

.btn-info:disabled {
    color: white;
    background: #d5000065;
    border-color: #d5000065;
}

#contenedorImagenPerro {
    display: inline-block;
}

#linternaOjoIzquierdo {
    position: absolute;
    width: 40%;
    height: 40%;
    top: calc(37%);
    left: calc(60%);
    transform: rotate(45deg);
    display: none;
    z-index: 1;
}

#linternaOjoDerecho {
    position: absolute;
    width: 40%;
    height: 40%;
    top: calc(37%);
    left: calc(8%);
    transform: rotate(135deg);
    display: none;
    z-index: 1;
}

.btn-primary{
    color: white;
    background: #7b1fa2;
    border-color: #7b1fa2;
}

.btn-primary:hover{
color: white;
background: #012970;
border-color: #012970;
}