<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>OcularVet - Diagnóstico</title>
    <meta content="" name="description">
    <meta content="" name="keywords">



</head>

<main id="main" class="main">
    <div class="card">
        <div class="card-header">
            <h1>Diagnóstico</h1>
        </div>

        <div>
            <div class="card">
                <div class="card-body">
                    <div class="gridConsigna"  *ngIf=" diagnosticosPosibles.length < 1">
                        <div class="contenedorConsigna">
                            <p class="parrafo">
                                El reflejo fotopupilar se produce cuando la pupila reacciona y se contrae o se dilata como respuesta a un estímulo lumínico. Este arco reflejo gestionado por el sistema nervioso autónomo permite controlar la cantidad de luz a la que se exponen los ojos de modo que se evite una sobreexposición o un deslumbramiento. Su mayor utilidad es en la semiología del sistema nervioso y en particular en Oftalmología su evaluación permite localizar el asiento de las lesiones de las vías nerviosas del globo ocular.<br><br>
                                A continuación, se presentan diferentes “pacientes virtuales” en los cuales usted deberá evaluar los reflejos fotopupilares directo e indirecto, para posteriormente indicar si los mismos son normales, o en caso que se encuentren alterados, en qué estructura sospecha que asienta la lesión.<br><br>
                                Tenga en cuenta que: 
                                <br> - Tendrá un tiempo limitado para resolver cada caso.
                                <br> - Al iluminar uno de los ojos, tendrá 4 segundos para ver la reacción de ambas pupilas. <strong>No podrá iluminar el otro ojo hasta que no pasen los 4 segundos.</strong>
                                <br> - Para cada paciente existe sólo una opción correcta.
                            </p>
                            <button (click)="comenzarEjercicio()" class="btn btn-primary" id="BtnComenzarEjercicio">
                                Comenzar ejercicio
                            </button>
                            <hr>
                        </div>
                        <div>
                            <h5 style="font-style: italic">Vista previa del ejercicio </h5>
                            <figure>
                                <img src="../../../assets/images/consigna1.webp" id="perroConsigna">
                            </figure>
                        </div>
                    </div>


                    <div class="grid" id="contenedorPrincipal" *ngIf=" diagnosticosPosibles.length > 0">
                        <!-- Columna Imagen perro y botones de linternas -->
                        <div class="columna"> 
                            <div style="display: flex;">
                                <h2 style="margin: auto;"> Paciente <strong>N° {{nroPaciente}}</strong></h2>
                            </div>
                            <div id="contenedorBotonesOjos" >
                                <button (click)="iluminarOjoDerecho()" id="botonIluminarOjoDerecho"
                                    class="btn btn-info"
                                    style="margin:auto">
                                    Iluminar ojo derecho
                                </button>
                                <button (click)="iluminarOjoIzquierdo()" id="botonIluminarOjoIzquierdo"
                                    class="btn btn-info" style="margin:auto">
                                    Iluminar ojo izquierdo
                                </button>
                            </div>
                            <div id="contenedorImagenPerro">
                                <figure >
                                    <img src="../../../assets/images/HUSKY-SIN_1.webp" id="perro" >
                                    <img src="../../../assets/images/HUSKY-IZQ_1.webp" id="pupilaDerecha">
                                    <img src="../../../assets/images/HUSKY-IZQ_1.webp" id="pupilaIzquierda">
                                    <img src="../../../assets/images/linterna.webp" id="linternaOjoIzquierdo">
                                    <img src="../../../assets/images/linterna.webp" id="linternaOjoDerecho">
                                </figure>

                            </div>
                        </div> <!--  fin columna de foto y botones de linternas-->
                        <!-- COLUMNA cuestionario del ejercicio -->
                        <div class="columna">
                            <h3>Tiempo restante: <strong> {{temporizador}} </strong></h3>

                           
                            <h4>Seleccione su diagnóstico</h4>
                            <form [formGroup]="formularioPaciente" (ngSubmit)="diagnosticar()" >
                                <div *ngFor=" let diag of diagnosticosPosibles" class="form-check py-1">
                                    <input class="form-check-input" type="radio" formControlName="respuestaElegida"
                                        name="respuestaElegida" id="{{diag.id}}" value="{{diag.id}}" required>
                                    <label class="form-check-label" for="{{diag.id}}">
                                        {{diag.descripcion}}
                                    </label>
                                </div>


                                <button type="submit" class="btn btn-primary my-3"  style="margin-left: calc(20%);">
                                    <i class="bi bi-eye-fill"></i> Siguiente paciente
                                </button>
                            </form>

                            <p class="m-0">Cantidad de pacientes diagnosticados:</p>
                            <p style="text-align: center;"> <strong> {{cantPacientesRespondidos}} / {{cantPacientesADiagnosticar}} </strong></p>
                            <p class="m-0">Cantidad de respuestas correctas: </p>
                            <p style="text-align: center;"><strong>{{cantRespuestasCorrectas}}</strong></p>

                        </div> <!--  fin columna de cuestionario -->



                    </div> <!--  Fin contenedor principal -->

                    <swal #tiempoTerminadoSwal title="Se acabó el tiempo" icon="warning" [allowOutsideClick]="false"
                    
                        (confirm)="siguientePaciente()">
                    </swal>

                    <swal #respuestaCorrectaSwal title="Respuesta correcta!" icon="success" [allowOutsideClick]="false"
                        (confirm)="siguientePaciente()">
                    </swal>

                    <swal #respuestaIncorrectaSwal title="Respuesta incorrecta" [allowOutsideClick]="false"
                        text="La respuesta correcta era: {{ diagnosticoActual.descripcion}}" icon="error"
                        (confirm)="siguientePaciente()">
                    </swal>

                    <swal #autoevalucionFinalizadaSwal title="Autoevalución finalizada" [allowOutsideClick]="false"
                        text="Cantidad de respuestas correctas: {{cantRespuestasCorrectas}} / {{cantPacientesADiagnosticar}}"
                        icon="info" (confirm)="crearNota()">
                    </swal>

                </div>
            </div>
        </div>

    </div>


</main><!-- End #main -->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


</html>