<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>OcularVet - Diagnóstico</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../../../assets/img/favicon.png" rel="icon">
    <link href="../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files 
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../../../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../../../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../../../assets/vendor/simple-datatables/style.css" rel="stylesheet"> -->

    <!-- Template Main CSS File 
  <link href="../../../assets/css/style.css" rel="stylesheet"> -->

</head>

<main id="main" class="main">
    <div class="card">
        <div class="card-header">
            <h1>Diagnóstico</h1>
        </div>

        <div>
            <div class="card">
                <div class="card-body">
                    <div>
                        <button *ngIf=" diagnosticosPosibles.length < 1" (click)="comenzarEjercicio()" mat-raised-button
                            color="primary">
                            Comenzar ejercicio
                        </button>
                    </div>


                    <div class="grid" id="contenedorPrincipal" *ngIf=" diagnosticoActual !== undefined">
                        <div class="columna">
                            <div id="contenedorBotonesOjos" >
                                <button (click)="iluminarOjoDerecho()" id="botonIluminarOjoDerecho" style="margin: 3px"
                                    class="btn btn-info"
                                    style="margin:auto">
                                    Iluminar ojo derecho
                                </button>
                                <button (click)="iluminarOjoIzquierdo()" id="botonIluminarOjoIzquierdo"
                                    style="margin: 3px" class="btn btn-info" style="margin:auto">
                                    Iluminar ojo izquierdo
                                </button>
                            </div>
                            <div id="contenedorImagenPerro">
                                <figure>
                                    <img src="../../../assets/images/perroSinPupilas.jpeg" id="perro">
                                    <img src="../../../assets/images/pupilaDerecha.png" id="pupilaDerecha">
                                    <img src="../../../assets/images/pupilaIzquierada.png" id="pupilaIzquierda">
                                    <img src="../../../assets/images/flashlight2sinFondo.png" id="linternaOjoIzquierdo">
                                    <img src="../../../assets/images/flashlight2sinFondo.png" id="linternaOjoDerecho">
                                </figure>

                            </div>
                        </div> <!--  fin columna de foto y botones -->
                        <div class="columna">
                            <h3>Tiempo restante: {{temporizador}}</h3>

                            <!-- <h4 *ngIf=" diagnosticoActual !== undefined">Diagnostico actual :
                                {{diagnosticoActual.descripcion}}</h4> -->

                            <form [formGroup]="formularioPaciente" (ngSubmit)="diagnosticar()">
                                <div *ngFor=" let diag of diagnosticosPosibles" class="form-check">
                                    <input class="form-check-input" type="radio" formControlName="respuestaElegida"
                                        name="respuestaElegida" id="{{diag.id}}" value="{{diag.id}}">
                                    <label class="form-check-label" for="{{diag.id}}">
                                        {{diag.descripcion}}
                                    </label>
                                </div>


                                <button type="submit" mat-raised-button color="primary">
                                    <i class="bi bi-eye-fill"></i> Siguiente paciente
                                </button>
                            </form>

                            <p>Cantidad de pacientes diagnosticados: <strong> {{cantPacientesRespondidos}} / {{cantPacientesADiagnosticar}} </strong></p>
                            <p>Cantidad de respuestas correctas: <strong>{{cantRespuestasCorrectas}}</strong></p>

                        </div> <!--  fin columna de cuestionario -->



                    </div> <!--  Fin contenedor principal -->
                    <swal #tiempoTerminadoSwal title="Se acabó el tiempo" icon="warning"
                        (confirm)="siguientePaciente()">
                    </swal>

                    <swal #respuestaCorrectaSwal title="Respuesta correcta!" icon="success"
                        (confirm)="siguientePaciente()">
                    </swal>

                    <swal #respuestaIncorrectaSwal title="Respuesta incorrecta"
                        text="La respuesta correcta era: {{diagnosticoActual.descripcion}}" icon="error"
                        (confirm)="siguientePaciente()">
                    </swal>

                    <swal #autoevalucionFinalizadaSwal title="Autoevalución Finalizada"
                        text="Cantidad de respuestas correctas: {{cantRespuestasCorrectas}} / {{cantPacientesADiagnosticar}}"
                        icon="info" (confirm)="crearNota()">
                    </swal>

                </div>
            </div>
        </div>

    </div>


</main><!-- End #main -->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->


<!-- Template Main JS File -->
<script src="/main.js"></script>



</html>