<!DOCTYPE html>
<html lang="en">


<main id="main" class="main">
    <div class="card">
        <div class="card-header">
            <h1>Usuarios</h1>
        </div>

        <div class="col">
            <div class="card overflow-auto">
                <div class="card-body">
                    <!--Filtros y botones tabla Usuarios -->
                    <div id="contenedorBotones" style="margin-bottom: 10px;">
                        <form (ngSubmit)="filtrarUsuarios()">
                            <input type="number" id="anioInput" placeholder="Buscar por año..." title="Type in a name">
                            <input type="text" id="apellidoInput" oninput="filtrarUsuarios()"
                                placeholder="Buscar por apellido..." title="apellido" class="m-1">
                            <button type="submit" name="searchButton" class="btn btn-primary"
                                (click)="filtrarUsuarios()">
                                <i class="bi-search "></i>
                            </button>
                        </form>

                        <button class="btn btn-danger item" [swal]="deleteFilteredUsers"> Eliminar usuarios filtrados

                            <i class="bi-trash-fill"></i>
                            <swal #deleteFilteredUsers
                                title="Esta seguro que desea eliminar todos los usuarios filtrados?"
                                text="Esta acción no se puede deshacer." icon="warning"
                                [swalOptions]="{ confirmButtonText: 'Confirmar' }" [showCancelButton]="true"
                                [focusCancel]="true" (confirm)="borrarUsuariosFiltrados()">
                            </swal>
                        </button>
                    </div>
                    <!--End Filtros y botones tabla Usuarios -->
                    <!--Tabla de Usuarios -->
                    <div>
                        <table style="width: 100%;" mat-table [dataSource]="dataSource" matSort
                            (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

                            <ng-container matColumnDef="DNI">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by DNI">
                                    DNI
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.DNI}} </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by name">
                                    Nombre
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="surname">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by surname">
                                    Apellido
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by email">
                                    Email
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.email }} </td>
                            </ng-container>
                            <ng-container matColumnDef="fechaAlta">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by fechaAlta">
                                    Fecha de alta
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.fechaAlta |date:"dd-MM-YYYY"}} </td>
                            </ng-container>
                            <ng-container matColumnDef="isAdmin">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by isAdmin">
                                    Tipo de usuario
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.isAdmin ? 'Administrador' : 'Alumno'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="hacerAdmin">
                                <th mat-header-cell *matHeaderCellDef>Agregar/quitar <br> permisos admin</th>
                                <td mat-cell *matCellDef="let row">
                                    <button type="button" class="btn btn-primary " [swal]="hacerAdmin">
                                        <i class="bi bi-person-check-fill"></i>

                                        <swal #hacerAdmin
                                            title="Modificar permisos de administrador a {{ row.name}} {{ row.surname }} ?"
                                            text="Se le darán/quitarán permisos de administrador al usuario {{ row.name}} {{ row.surname }}"
                                            icon="warning"
                                            [swalOptions]="{ confirmButtonText: 'Confirmar' , cancelButtonText: 'Cancelar'}"
                                            [showCancelButton]="true" [focusCancel]="true"
                                            (confirm)="verificarPasswordHacerAdmin(row._id!, row.isAdmin)">
                                        </swal>

                                    </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="resetPassword">
                                <th mat-header-cell *matHeaderCellDef>Resetear contraseña</th>
                                <td mat-cell *matCellDef="let row">
                                    <button type="button" class="btn btn-primary " [swal]="resetPassword">
                                        <i class="bi-arrow-repeat"></i>

                                        <swal #resetPassword
                                            title="Reiniciar contraseña de {{ row.name}} {{ row.surname }}?"
                                            text="Esta acción no se puede deshacer. La contraseña será 123456 si confirma."
                                            icon="warning" [swalOptions]="{ confirmButtonText: 'Confirmar' }"
                                            [showCancelButton]="true" [focusCancel]="true"
                                            (confirm)="reiniciarPassword(row._id!)">
                                        </swal>
                                    </button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="borrarUser">
                                <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                                <td mat-cell *matCellDef="let row">
                                    <button class="btn btn-danger" [swal]="deleteUser">
                                        <i class="bi-trash-fill"></i>
                                        <swal #deleteUser title="Eliminar {{ row.name}} {{ row.surname }}?"
                                            text="Esta acción no se puede deshacer." icon="warning"
                                            [swalOptions]="{ confirmButtonText: 'Confirmar' }" [showCancelButton]="true"
                                            [focusCancel]="true" (confirm)="eliminarUsuario(row._id!)">
                                        </swal>

                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columns"></tr>
                            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                        </table>
                        <mat-paginator [length]="usuariosFiltrados.length" [pageSize]="20"
                            [pageSizeOptions]="[5,10, 20, 50, 100]" aria-label="Select page">
                        </mat-paginator>
                    </div>

                    <hr>

                </div>
                <!--End Tabla Usuarios -->


            </div>

        </div>

    </div>



</main><!-- End #main -->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>




</html>