<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>OcularVet - Login </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  


</head>

<body>

  <main class="animate__animated animate__backInDown">


      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <!--col-NN es para definir el tamaño de la card dependiendo del tamañod el viewport -->
            <div class="col-xl-4 col-lg-5 col-md-7 col-10 d-flex flex-column align-items-center justify-content-center">
              
              <div class="card mb-3">
                <div class="card-header">
                  <div class="d-flex justify-content-center">
                    <div href="index.html" class="logo d-flex align-items-center w-auto">
                      <img src="../../../../assets/images/logo.webp" alt="" width="150">
                    </div>
                    
                  </div><!-- End Logo -->
                  <h1 class="d-flex card-title justify-content-center" style="font-weight: bold;  ;">OcularVet</h1>
                </div>
                <div class="card-body">

                  <div class="pt-2 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login</h5>
                    <p class="text-center small">Ingrese su usuario y contraseña para ingresar</p>
                  </div>
                  <!--Formulario de Inicio Sesion -->
                  <form class="row g-3 needs-validation" autocomplete="off" [formGroup]="miFormulario"
                    (submit)="login()">

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Email</label>

                      <input type="email" formControlName="email" placeholder="Ingrese su email" class="form-control"
                        id="yourUsername" required>
                      <span class="form-text text-danger" *ngIf="campoNoValido('email')">
                        Ingrese por favor un email válido.
                      </span>
                    </div>

                    <div class="col-12" style="position:relative">
                      <label for="yourPassword" class="form-label">Contraseña</label>
                      <input  [type]="mostrarOcultarPassword ? 'text' : 'password'"
                        formControlName="password" placeholder="Ingrese su contraseña"
                        class="form-control" id="yourPassword" required
                      >
                      
                      <div class="small mb-0" (click)="mostrarOcultarPasswordFunction()" style="cursor: pointer;"> 
                        <i class="bi bi-eye-fill small mb-0 text-center"> Mostrar/ocultar contraseña </i> 
                      </div>
                        
                      <span class="form-text text-danger" *ngIf="campoNoValido('password')">
                        La contraseña debe tener una longitud minima de 6 caracteres.
                      </span>
                    </div>

                   <style>
                      .btn-primary{
                        color: white;
                        background: #7b1fa2;
                        border-color: #7b1fa2;
                      }
                      .btn-primary:hover{
                        color: white;
                        background: #012970;
                        border-color: #012970;
                      }
                   </style>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" [disabled]="miFormulario.invalid" type="submit">
                        Login
                      </button>
                    </div>
                    <div class="col-12 text-center small">
                      <p class="small mb-0 text-center">No tenes usuario?</p>
                      <p> <a class="small" routerLink="/auth/registro"> Crea una cuenta nueva</a> </p>
                    </div>
                  </form><!--END Formulario de Inicio Sesion -->

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>


  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>



</body>

</html>